<article class="post">
    <div class="title">
        <a href="/dashboard/edit/{{id}}" id="title">{{title}}</a>
        <p class="user">Posted by {{user.username}} on {{format_date created_at}}</p>
    </div>
    <div class="content">
        <p id="content">{{content}}</p>
    </div>
</article>